@charset "UTF-8";

body{
    background-image: url(imagens/fundo-madeira.jpg);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#telefone{
  position: relative;
   margin: auto;
   width: 300px;
} 

#telefone iframe{
    position: absolute;
    width: 89%;
    height:76%;
    top: 12%;
    left: 5%;
}

#conteudo{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

#imagem{
    width: 100%;
    display: block;
}


img{
    width: 50%;
    height: 50%;
}

.you{
     width: 60px;
    height: auto;
    border-radius: 50px 50px ;
    margin-top: 20px;
}

.you{
    transition: 0.5s;
}
.you:hover{
    transform: scale(1.1);
    border: 3px solid white ;
border-radius: 50%;
}

footer{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    margin-top: auto;
}